<!doctype html>

<html>

<head>
	<title>{{site.coursename}}: {{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/intprog.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
	<link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.png">
	<script type="text/javascript" src="{{site.baseurl}}/js/csf.js"></script>
</head>

<body>
	<div id="content">
		<div id="pageTitle">{{site.coursename}}: {{page.title}}</div>
		{{content}}
	</div>
</body>

</html>

<!--
vim:ts=2:
-->
